@model IEnumerable<BlogMvcApp.Models.ViewModels.CategoryModel>

@{
    ViewBag.Title = "Index";
}

<h2>Kategoriler</h2>

<p>
    @Html.ActionLink("Kategori oluştur", "Create",null,new {@class="btn btn-primary" })
</p>
<table class="table table-bordered table-hover table-striped">
    <tr>
        <th style="width:60%">
            @Html.DisplayNameFor(a=>a.CategoryName)
        </th>
        <th style="width:15%">
            @Html.DisplayNameFor(a=>a.BlogCount)
        </th>
        <th style="width:210px;"></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(a=> item.CategoryName)
        </td>
        <td>
            <label class="text text-primary">@Html.DisplayFor(a=>item.BlogCount)</label>
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.CategoryId },new {@class="btn btn-warning btn-sm" }) 
            @Html.ActionLink("Details", "Details", new { id=item.CategoryId },new {@class="btn btn-primary btn-sm" }) 
            @Html.ActionLink("Delete", "Delete", new { id=item.CategoryId },new {@class="btn btn-danger btn-sm" })
        </td>
    </tr>
}

</table>
